AWS-REGION-DEFAULT                                       = <DEFAULT-REGION-AWS>
ECR-REGISTRY-REPO-CALCULADORA                            = <LINK-REPO-ECR>
IMAGE-NAME-APP                                           = 'calc-app' #Default, altere se quiser!