#Valor padrão para que a aplicação possa se comunicar com o Vault
VAULT_APPLICATION_ADDR          =http://vault-calc:8200

#Valor padrão para que o script interno possa rodar e criar as credenciais
VAULT_INTERNAL_ADDR             =http://127.0.0.1:8200

#Valor padrão de endereço de escuta dentro do vault para que os containers possam acessar ele
VAULT_LISTENING_ADDR            =0.0.0.0:8200

VAULT_TOKEN                     =<SEU-VAULT-TOKEN>

MYSQL_PASSWORD_ROOT             =<SUA-SENHA-ROOT>

MYSQL_USER_NAME                 =<USUARIO-BANCO>

MYSQL_USER_PASSWORD             =<SUA-SENHA-USER>

#Por padrão é %, caso queria que ele acesse databases especificas altere aqui
MYSQL_ROOT_HOST                 =<HOST-DO-ROOT>

ECR_REGISTRY_REPO               =<LINK-REPO-ECR>

IMAGE_NAME_DB                   =<NAME_IMAGE_DB>

IMAGE_NAME_APP                  =<NAME_IMAGEM>
