AWS-REGION-DEFAULT                                       = <DEFAULT-REGION-AWS>
ECR-REGISTRY-REPO-CALCULADORA                            = <LINK-REPO-ECR>
IMAGE-NAME-APP                                           = 'calc-db-applcation' #Default, altere se quiser!
IMAGE-NAME-DB                                            = 'calc-db' #Default, altere se quiser!