BASE_URL_APP-MAIN   = http://localhost:8083 #Valores Default, caso queira alterar, mude diretamente o application.yml das aplicações
BASE_URL_APP-DB     = http://localhost:8082 #Valores Default, caso queira alterar, mude diretamente o application.yml das aplicações
BASE_URL_DB         = http://localhost:8081 #Valores Default, caso queira alterar, mude diretamente o application.yml das aplicações